<%= form_for(@article) do |f| %>
  <div class="form-group">
    <%= f.label :summary, '要約' %>
    <%= f.text_area :summary, class: 'form-control' %>
    <%= f.submit '要約を投稿', class: 'btn btn-success btn-block' %>
  </div> 
<% end %>