<% if logged_in? %>
  <%= current_user.name %>
<% else %>
  <% content_for :cover do %>
    <div class="cover">
      <div class="cover-inner">
        <div class="cover-contents">
          <a href="#" class="btn btn-success btn-lg">BOOKSUMMARY を始める</a>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
