<% if logged_in? %>

  <%= render 'articles', articles: @articles %>

<% else %>
  <% content_for :cover do %>
    <div class="cover">
      <div class="cover-inner">
        <div class="cover-contents">
          <%= link_to 'BOOKSUMMARY を始める', new_user_path, class:"btn btn-success btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
